
.site-layout .site-layout-background {
  background-color: white;
}

.logo{
    width: 70%;
    margin: 20px 20px 20px 30px;
}
.admin-img{
  width: 100px;
}

.component h1{
  font-size: 22px;
  text-align: left;
  font-family: 'Helvetica';
}
