.auth-form{
    width: 40%;
    margin: 30px auto;
}
.auth-div{
    margin: auto;
    padding: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 100px;
    align-items: center;
}

.auth-section{
    background-color: #f3efeb;
    
}
.auth-div h3{
    font-size: 22px;
    line-height: 30px;
    margin-top: 20px;
}
.auth-div input{
    height: 50px;
    outline:none;
}
.submit-btn{
    height: 50px !important;
    width: 100%;
    background-color: #2c241d !important;
    color: white !important;
    border: none !important;
}

.auth-div p a{
    color: black;
    text-decoration: underline;
}