.basket-item{
    display: flex;
    width: 100%;
    margin-bottom: 30px;
}

.basket-div-1{
    width: 20%;
}
.basket-div-1 img{
    width: 90%;
}

.basket-div-2{
    width: 60%;
}

.basket-div-3{
    width: 20%;
}
.basket-item p{
    line-height: 10px;
}

.basket-total div{
    display: flex;
    justify-content: space-between;
}

.checkout-btn , .continue-btn{
    width: 100%;
    height: 50px;
    border: none;
    outline: none;
    background-color: #2c241d;
    color: white;
    margin-top: 15px;
}

.continue-btn{
    background-color: white;
    border: 1px solid #2c241d;
    color:#2c241d;
}