.benefits{
    display: flex;
    background-color: #f3efeb;
    justify-content: center;
    
}
.benefits-item img{
    width: 50px;
    margin-bottom: 30px;
}

.benefits-item{
    margin: 30px 100px;
    text-align: center;
}


.details  .benefits-item img{
    width: 30px;
    margin-bottom: 20px;
}

.details  .benefits-item{
    margin: 10px 20px;
    text-align: center;
}