.card-img{
    width: 100%;
}

.card{
    width: 23%;
    padding-right: 15px !important;
}

.span-new{
    background-color: saddlebrown;
    color:white;
    position: relative;
    z-index: 1;
    padding: 5px 10px;
    left:15px;
    bottom: -40px;
}
.heart-icon{
    background-color: rgba(255,255,255,0.7);
    border-radius: 50%;
    position: relative;
    left:87%;
    top:-40px;
    font-size: 18px;
    padding: 5px;
}
.card p{
    line-height: 14px;
    text-transform: uppercase;
    margin-top: 0;
    font-size: 13px;
}

.card h3{
    font-family: 'Abril Fatface', cursive;
    line-height: 14px;
}

.cards-section{
    background-color: #f3efeb;
    padding-left: 40px;
    padding-top: 40px;
}

.cards-section h2{
    font-family: 'Abril Fatface', cursive;
    font-size: 26px;
}
.card a{
    color:black;
}