.details-part-1{
    width: 20%;
    height: 90vh;
    overflow: scroll;
    display: flex;
    flex-direction: column;
    margin-left: 50px;
}

.details-part-2{
    width: 40%;
    height: 90vh;
    overflow: scroll;
    display: flex;
    flex-direction: column;
}
.details-part-3{
    width: 40%;
    height: auto;
    display: flex;
    flex-direction: column;
    padding:30px;
    /* overflow: scroll; */
}
.details{
    display: flex;
    width: 100%;
    margin-top: 120px;
    background-color: #f3efeb;
    padding-bottom: 30px;
}
.details-part-1 img{
    width: 60%;
    margin-top: 20px;
}
.details-part-2 img{
    width: 90%;
    margin-top: 20px;
}

.details ::-webkit-scrollbar{
    display: none;
}

.size-span{
    background-color: #beb9b4;
    padding: 15px;
    text-align: center;
    /* margin-right: 10px; */
}
.size-span:hover{
    background-color: #2c241d;
    color:white;
}
.size-div{
    margin: 10px 10px 20px 0;
    display: grid;
    grid-template-columns: repeat(6,50px);
    grid-gap:10px;
}

.buttons .btn-1,.btn-2{
    height: 50px;
    background-color: #c39d65;
    color:white;
    outline: none;
    border:none;
    padding: 0 20px;
    margin-bottom: 30px;
}
.buttons .btn-1{
    width: 80%;
    margin-right: 15px;
}

.product-details{
    border-bottom:1px solid rgba(0,0,0,0.1);
    margin: 10px 0;
    padding-bottom: 15px;
}
.product-details summary{
    outline: none;
}

.size-table{
    margin-left: 20%;
    width: 100%;
}

.size-btn{
    display: flex;
    width: 100px;
    border-radius: 20px;
    border: 1px solid #2c241d;
    background: none;
    justify-content: space-between;
    margin-left: 40%;
    margin-top: 30px;
}

.size-btn-1,.size-btn-2{
    border-radius: 20px;
    border: none;
    width: 50px;
    outline: none;
}

.size-btn-1{
    background-color: #2c241d;
    color:white;
}


.size-btn-2{
    background-color: white;
}

.modal2 {
    padding: 10px;
}

.modal2 ul li,
.modal2 p {
    font-size: 15px;
    line-height: 20px;

}

.modal2 ul {
    list-style: none;
    margin: 0;
    position: relative;
    max-width: 600px;
}


.modal2 ul:after {
    content: '';
    position: absolute;
    top: 5px;
    left: 44px;
    width: 1px;
    height: calc(100% - 10px);
    background: black;
}

.modal2 ul>li {
    padding-left: 20px;
    position: relative;
    margin: 10px 0;
}

.modal2 ul>li:before {
    content: '';
    position: absolute;
    top: 5px;
    left: 0;
    width: 9px;
    height: 9px;
    background: black;
    border-radius: 50%;
}


.modal2 h2 {
    margin-top: 5%;
    line-height: 40px;
    font-size: 30px;
}

.btn-modal2 {
    width: 90%;
    padding: 10px;
    background-color: #000;
    color: #fff;
    font-size: 20px;
    margin-left: 30px;
}

.more {
    cursor: pointer;
    text-decoration: underline;
}

.klarna {
    background-color: #ec9ece;
    padding: 5px;
    font-size: 12px;
    border-radius: 5px;
}