.footer{
    display: flex;
    flex-wrap: wrap;
}

.footer-1{
    background-color: #2c241d;
    width: 50%;
    padding: 40px;
    
}

.footer-2{
    background-color: #594e45;
    width: 50%;
    padding: 40px;
    color:white;
}

.footer h3{
    font-family: 'Abril Fatface', cursive;
    color:white;
    font-size: 22px;
}

.links{
    display: flex;
    flex-direction: column;
    color:#beb9b4;
}
.links a{
    line-height: 40px;
    font-size: 14px;
    color:#beb9b4;
}

.links-icon{
    font-size: 20px;
    margin-right: 5px;
}

.social-icons{
    font-size: 30px;
    margin-right: 15px;
    
}
.social-links a{
    color:#beb9b4;
}
.social-links{
    margin-top: 30px;
}

.payments svg{
    background-color: white;
    width: 50px;
    height: 30px;
    border-radius: 5px;
    margin-right: 10px;
}
.payments{
    margin-top: 30px;
}

.terms a{
    line-height: 16px;
    font-size: 12px;
}

.terms{
    margin-top: 30px;
}

.p-link{
    margin-top: 30px;
    color:#7e7469;
    line-height: 16px;
    font-size: 12px;
}

/* The container */
.container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 16px;
    color: white;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  /* Hide the browser's default checkbox */
  .container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  
  /* Create a custom checkbox */
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #594e45;
    border:1px solid white;
  }
  
  /* On mouse-over, add a grey background color */
  .container:hover input ~ .checkmark {
    background-color: #ccc;
  }
  
  /* When the checkbox is checked, add a blue background */
  .container input:checked ~ .checkmark {
    
  }
  
  /* Create the checkmark/indicator (hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the checkmark when checked */
  .container input:checked ~ .checkmark:after {
    display: block;
  }
  
  /* Style the checkmark/indicator */
  .container .checkmark:after {
    left: 7px;
    top: 5px;
    width: 9px;
    height: 10px;
    border: solid orange;
    border-width: 0 1px 1px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  .email-input{
      height: 50px;
      background-color: #594e45;
      border: 1px solid white;
      outline:none;
      padding: 0 10px;
      width: 95%;
      margin-top: 15px;
      color:white;
  }

  .email-icon{
      margin-left: -26px;
  }