.header{
    display: flex;
    align-items: center;
    margin: 0;
    justify-content: space-around;
    width: 100%;
    padding-top: 15px;
    position: fixed;
    height: 80px;
    background-color: white;
    top:0;
}
#user-name{
    margin-top:9px;
    margin-left: 12px;
    font-weight: 500;
}
.a-link{
    color: black;
    margin: auto 20px;
}
.a-link:hover{
    font-weight: 900;
    color: black;
}
.logo{
    width: 50%;
}
.menu-bar{
    display: flex;
    width: 100%;
}

.row{
    display: flex;
    align-items: center;
    margin: 0;
}
.row2{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0;
}

.icon-links{
    display: flex;
}
.icon-links .anticon{
    font-size: 20px;
    margin: 8px;
}

.card-icon{
    padding-top: 10px;
}

.searchBox{
    position: absolute;
    width: 100%;
    padding:30px 110px;
    height: auto;
    left:0;
    right: 0;
    top:60px;
    background-color: white;
}

.searsh-input{
    height: 50px;
    width: 100%;
    font-size: 30px;
    border:none;
    border-bottom: 1px solid grey;
}
.search-icon{
    margin-left: -30px;
    font-size: 25px;
}

.icon-links a{
    color: black;
}