.section-2{
    display: flex;
}
.section-2 div{
    width: 50%;
    align-items: center;
    justify-content: center;
    margin: auto;
    padding: 20%;
}

.part-men{
    background: url('/images/back1.jpg');
    background-size: cover;
}
.part-women{
    background: url('/images/back2.jpg');
    background-size: cover;
}

.part-coods{
    background: url('/images/back3.png');
    background-size: cover;
}
.part-journal{
    background: url('/images/back4.png');
    background-size: cover;
}

.shop-h1{
    font-size: 60px;
    color:white;
    font-family: 'Abril Fatface', cursive;
}

.row{
    display: flex;
}

.row-collections{
    display: flex;
    margin: auto;
    justify-content: center;
    align-items: center;
}