.section-3{
    background-color: #f3efeb;
    display: flex;
    padding-top: 20px;
    padding-left: 20%;
}

.section-3 img{
    width: 65%;
}

.section3-text{
    margin-top: 15%;
    text-align: center;
    margin-left: -15%;
}

.section3-text h1{
    font-family: 'Abril Fatface', cursive;
    font-size: 50px;
    line-height: 55px;
}
.section3-text h4{
    font-family: 'Abril Fatface', cursive;
    font-size: 20px;
    line-height: 25px;
    color:#7e7469;
}
.section3-text p{
    padding: 0 15%;
}

.section3-text button{
    height: 52px;
    width: 275px;
    border-radius: 0;
    padding: 0 18px;
    color:#2c241d;
    background-color: #f3efeb;
    border:1px solid #2c241d;
}

.section3-text button:hover{
    color:white;
    background-color: #2c241d;
}

.section-4{
    text-align: center;
}

.section-4 img{
    width: 21%;
    margin:20px auto;
}
.section-4 p{
    padding: 0 20%;
}