@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');
.div-center{
    position: relative;
    top:35%;
    justify-content: center;
}

.section-1{
    height: auto;
    text-align: center;
    padding: 20%;
    background-image: url(https://cdn.shopify.com/s/files/1/0235/2617/files/acid_wash_home_2_cce406a5-1bec-43fb-b15b-cd9b197e4a2a_2800x.jpg?v=1596204866);
}

.div-center h1{
    font-size: 60px;
    color:white;
    font-family: 'Abril Fatface', cursive;
}
.shop-btn{
    height: 50px;
    width: 175px;
    border: none;
    outline: none;
    background-color: #f3efeb;
    margin-right: 15px;
    cursor: pointer;
    color:black;
}
.title{
    font-family: 'Abril Fatface', cursive;
    color:black !important;
    text-align: center;
    text-transform: capitalize;
    font-size: 60px;
    margin-top: 100px;
}